*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Noto Sans', sans-serif;
	color: white;
	background-color: black;
	height: 100%;
}

.block {
	width: 1600px;
	height: 800px;
	background: linear-gradient(45deg, blue, #87CEEB);
	border-radius: 30px;
	display: grid;
	grid-template: 100px 300px 100px 300px / repeat(8, 200px);
	margin: 100px auto 100px;
	position: relative;
	border: 1px solid white;
}

h1 {

/* debut rangée/ debut colone/ fin rangée/ fin colone */

	grid-area: 1 / 1 / 2 / -1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.blocklogoetinfos{
	grid-area: 2 / 1/ 3/ -1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.blocklogo{
	width: 50%;
}

img{
	border-radius: 50px;
	box-shadow: 0 0 5px black;
	transform: rotate(0deg);
	transition: 1s;
	display: block;
    margin-left: auto;
    margin-right: auto;
	
}

img:hover {
	transform: rotate(350deg);
}



.blockinfos{
	width: 50%;
}

.blockinfos .temps {
	font-size: 40px;
}

.blockinfos .temps:: first-letter {
	text-transform: capitalize;
}

.blockinfos .temperature {
	font-size: 60px;
}

.blockinfos .localisation {
	font-size: 40px;
	word-wrap: break-word;
}

.blockheureetprevisions{
	grid-area: 3 / 1 / 4 / -1;
}

.blockjoursprevision{
	grid-area: 4 / 1 / 5 / -1;
}

.blockjoursprevision, .blockheureetprevisions{
	display: grid;
	grid-template: 100px / repeat(7, 1fr);
}